.main{
    height: 600px;
    width: 600px;
}

.secondMain{
    width: 600px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

img{
    height: 200px;
    width: 50%;
}

p{
    height: 200px;
    width: 300px;
    margin-top: 100px;
}

@keyframes hovering {
    from{opacity: 1 ; background-color: white;}
    to{opacity: 0.5 ; background-color: black;}
}

.secondMain:hover{
    animation: hovering 0.3s infinite ease-in-out;
}